/* header */
header {
    height:80px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.20);;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    z-index: 10;
}

.tbc_logo {
    width: 60px;
    height: 60px;
    display: inline-block;
}

li {
    list-style-type: none;
    display: inline-block;
}

ul {
    display: inline-block;
}

.h1a {
    color: #E5E5E5;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-left: 25px;
    margin-right:25px;
}

.h1a_active {
    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-left: 25px;
    margin-right:25px;
}

.line {
    width: 1px;
    height: 20px;
    background: #E5E5E5;
    display: inline-block;
    transform: translate(20%, 20%);
}

.fb {
    height: 20px;
    width: 20px;
    display: inline-block;
    color: #E5E5E5;
    margin-left: 25px;
    margin-right: 18px;
}

.insta {
    height: 20px;
    width: 20px;
    display: inline-block;
    color: #E5E5E5;
    margin-left: 18px;
    margin-right: 18px;
}

.yt {
    height: 20px;
    width: 20px;
    display: inline-block;
    color: #E5E5E5;
    margin-left: 18px;
    margin-right: 18px;
}

/* carousel */
.carousel_image {
    height: 600px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.carousel_link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* other page */

.s1 {
    display: flex;
    justify-items: space-around;
}

.home_h1 {
    color: #495057;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.containers_div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.home_container {
    width: 310px;
    height: 450px;
    display: inline-block;
}

.container_image {
    width: 310px;
    height: 280px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
}

.container_date {
    color: #6C757D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.container_h1 {
    color: #495057;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px;
}

.container_p {
    color: #6C757D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.that_one_image {
    display: flex;
    height: 600px;
    width: 100%;
    background-image: url(../images/that\ one\ image.jpg);
    background-size: cover;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.that_one_h1 {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.that_one_p {
    color: #E5E5E5;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

/* footer */

footer {
    background: #212529;
    height: 400px;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.footer_contact {
    width: 250px;
}

.footer_explore {
    width: 150px;
}

.footer_headquarters {
    width: 150px;
}

.connections {
    width: 200px;
}

.footer_h1 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-bottom: 16px;
}

.footer_p {
    color: #E5E5E5;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

/* about page */

.about_image {
    height: 600px;
    width: 100%;
    background-image: url(../images/about\ us.jpg);
    background-size: cover;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.about_image_h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.about_h1 {
    color: #495057;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.myimage {
    height: 25%;
    width: 25%;
    display: inline-block;
    border-radius: 25px;
}

/* contact */

.contact_image {
    height: 600px;
    width: 100%;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.contact_image_h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.contact_us {
    background-color:#a9afb4;
    border-radius: 25px;
    padding: 20px;
}

.contact_us_h1 {
    color: #062d53;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    display: block;
}