/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* header */
header {
    height:80px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.20);;
    position:fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    z-index: 10;
}

.tbc_logo {
    width: 60px;
    height: 60px;
    display: inline-block;
}

li {
    list-style-type: none;
    display: inline-block;
}

ul {
    display: inline-block;
}

.h1a {
    color: #E5E5E5;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-left: 25px;
    margin-right:25px;
}

.h1a:hover {
    color:#FFF;
}

.h1a_active {
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-left: 25px;
    margin-right:25px;
}

.line {
    width: 1px;
    height: 20px;
    background: #E5E5E5;
    display: inline-block;
    -webkit-transform: translate(20%, 20%);
        -ms-transform: translate(20%, 20%);
            transform: translate(20%, 20%);
}

.fb {
    display: inline-block;
    color: #E5E5E5;
    margin-left: 25px;
    margin-right: 18px;
}

.fb:hover {
    color: #1877F2;
}

.insta {
    display: inline-block;
    color: #E5E5E5;
    margin-left: 18px;
    margin-right: 18px;
}

.insta:hover {
    color: #FCAF45;
}

.yt {
    display: inline-block;
    color: #E5E5E5;
    margin-left: 18px;
    margin-right: 18px;
}

.yt:hover {
    color: #FF0000;
}

/* carousel */
.carousel_image {
    height: 600px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
}

.carousel_link {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.carousel_link:hover {
    font-size: 80px;
}

/* other page */

.s1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: space-around;
}

.home_h1 {
    color: #495057;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.containers_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 150px;
}

.home_container {
    width: 310px;
    height: 450px;
    display: inline-block;
}

.container_image {
    width: 310px;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
}

.container_date {
    color: #6C757D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.container_h1 {
    color: #495057;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px;
}

.container_p {
    color: #6C757D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.that_one_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    width: 100%;
    background-image: url(../images/that\ one\ image.jpg);
    background-size: cover;
    margin-bottom: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center;
}

.that_one_h1 {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.that_one_p {
    color: #E5E5E5;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

/* footer */

footer {
    background: #212529;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 100px;
}

.footer_contact {
    width: 250px;
}

.footer_explore {
    width: 150px;
}

.footer_headquarters {
    width: 150px;
}

.connections {
    width: 150px;
}

.footer_h1 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-bottom: 16px;
}

.footer_p {
    color: #E5E5E5;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

/* about page */

.about_image {
    height: 600px;
    width: 100%;
    background-image: url(../images/about\ us.jpg);
    background-size: cover;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center;
}

.about_image_h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.about_h1 {
    color: #495057;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:normal;
    text-align: center;
}

.myimage {
    height: 25%;
    width: 25%;
    display: inline-block;
    border-radius: 25px;
}

.about_us {
    background-color:#a9afb4;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* contact */

.contact_image {
    height: 600px;
    width: 100%;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center;
}

.contact_image_h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.contact_us {
    background-color:#a9afb4;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 30px;
}

.contact_us_h1 {
    color: #062d53;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    display: block;
}

.contact_us_h1a {
    color: #062d53;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    display: block;
}

.contact_us_h1a:hover {
    font-size: 45px;
    color: #0a63bb;
}

.contact_us_image {
    height: 100px;
    width: 100px;
}

.contact_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.agarvicisaxeli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

/* math */

.math_image {
    height: 600px;
    width: 100%;
    background-image: url(../images/maths.jpg);
    background-size: cover;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center;
}

.math_image_h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.algebra_container {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
}

.geometry_container {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
}

.math_h1 {
    color: #495057;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.math_a {
    color: #495057;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.math_a:hover {
    color: #88a7c7;
}

/* elipse */

.elipse_sect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
}

.elipsi {
    width:80%;
    font-size: 32px;
}